.carre{
  width: 90%;
  display: inline-block;
  background-color: aqua;
}
.carreimg{
  position: absolute;
  height: 110px;
  width: 110px;
  display: inline-block;
  right: 0px;
  top: 30px;
  left: 80%;
  padding: 20px;
  
}
.code{
  display: relative;
  width: 50%;
  background-color: black;
  color: white;
}
.titrelevel1{
  color: purple;
}
.titrelevel2{
  color: blue;
}
.titrelevel3{
  color: purple;
}