.contener{
display: flex;
flex-direction: column; 
/*flex-wrap: wrap;  /*remettre footer à la ligne ne fonctionne pas!*/
}
.corp{
   display: flex;
   /* position: absolute; */
   /* top : 300px; */
   /* width: 1000px; */
   /* left: 300px; */
   /* flex-direction: column; */
    margin: 10px;
    /*border: 1px solid black;
   /* align-items: strech;*/
    flex: 1;
    justify-content: space-around;
   /* justify-content: space-around;*/
}
.zonetxt{
  background-color: aqua;
  padding: 30px;
  flex: 1;
}
.img{
  position: absolute;
  height: 200px;
  width: 200px;
  display: inline-block;
  top: 230px;
  left: 82%;
  padding: 20px; 
}
.code{
  display: relative;
  background-color: black;
  color: white;
  overflow: auto;
  max-width: 500px;
}
.titrelevel1{
  color: black;
  background-color: red;
  margin: auto;
}
.titrelevel2{
  color: blue;
  text-decoration : underline;
}
.titrelevel3{
  color: purple;
}
/*deux façon differente de centré du texte celon qu'on soit dans une flex box  ici header ou dans un element de la flex box (qui n'en est pas une flex box comme dans footer*/
.header{
  display: flex;
  justify-content: center;
}
.footer{
 background-color: purple;
 text-align: center;
 /*align-self: flex-end;*/
}
.nav{
    /* display: flex; */
    background: lightgreen;
    /* flex-direction: column; */
    /* justify-content: center;
   /* width: 350px; /* Un peu de hauteur pour que les éléments aient la place de bouger */
   height: 800px;
}
.codexemple{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid black
  background-color: white;
}
.item {
  align-self: center; /* | flex-end | center | baseline | stretch;*/
  width: 400px;
}
