.carre{
  position: relative;
  height: 110px;
  width: 110px;
  display: inline-block;
  border-radius: 75px/12px;
  padding: 20px;
  
}
.rouge{
  background-color: rgb(255,0,0);
  top: 30px;
  left: 30px;
  }
.vert{
  background-color: rgb(0,255,0);
  top: 60px;
  left: -90px;
  
  }
.bleu{
  background-color: rgb(0,0,255);
  top: 90px;
  left: -210px;
  }
.rouge:hover{
  background-color: #00FF00;
  }
  
 p::before {
   content: "**";
 }
 input:valid{
   background-color: #00FF00;
 }
 input:invalid{
   background-color: #FF0000;
 }
 .box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  background-color: #FFCCCC;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}